@media (max-width:480px) {
  .form-group {
    margin: 12px 15px;
  }

  button.signin {
      margin: 20px 15px;
  }

  form.signin .alert{
      margin: 0 15px 20px 15px;
  }

  form.signin .remember {
      margin: 0 15px;
  }
}